@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    padding: 70px;

    background-color: seashell;

    font-family: 'Raleway', sans-serif;


}

h1,  .nome{
    font-family: 'Alfa Slab One', cursive;
}

